.CV-Wrapper {
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  margin: 0 auto;
  width: 90%;
  background-color: aqua;
}

.Content {
  grid-area: c;
  background-color: bisque;
}
